*.mno

NYUPressOA/epub_content/*
NYUPressOA/i18n/*

.sass-cache
.out
.DS_Store

# build files
build/*
node_modules/*

# configuration files
source/open-access-books/json/conf.json
source/open-access-books/json/sass.json
source/open-access-books/json/htmlminify.json
source/open-access-books/json/js.json
source/open-access-books/json/compass.json
source/open-access-books/json/datasources/*

# Ignore Eclipse conf files
.project
.buildpath
.settings/*

# Ignore Intellij conf files
.idea
*.iml

# project sub modules
!node_modules/grunt-contrib-writehtml
!node_modules/grunt-contrib-cloneReadium
!node_modules/detail_pages
!node_modules/books

# Emacs files
*~
