body.book {
  background-color: white;
}

.book {
  iframe {
    width: 100%;
    border: none;
  }

  .navbar {
    .navbar-inner {
      max-width: none;
      padding: 0 35px;

      @media screen and (max-width: 700px) {
        padding: 0 20px;
      }
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-hold {
        padding: 0;
        max-width: 500px;
        flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        order: 1;
        border-top: none;
      }

      .logos {
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        @media screen and (min-width: 801px) {
          flex: 0 0 45%;
          -ms-flex: 0 0 45%;
        }

        max-width: 400px;
        order: 2;
        border-bottom: none;
        padding-bottom: 0;

        h2 {
          // height: 40px;
          flex: 0 0 33.3%;
          -ms-flex: 0 0 33.3%;
          font-size: 10px;

          a {
            height: 50px;
          }

          &#logo-rep-clrn {
            flex: 0 0 26%;

            a {
              background-position: left center;
            }
          }

          &#logo-rep-nyup {
            flex: 0 0 30%;

            a {
              background-position: center center;
              background-image: url("../images/nyup_m.svg");
            }
          }

          &#logo-rep-mac {
            flex: 0 0 16%;

            a {
              background-position: right center;
              margin-left: 0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 1100px) {
      header {
        padding-top: 10px;
        padding: 0;

        .title-hold {
          width: 30%;
        }

        #site-title a {
          background-image: url("../images/cylogo_vertical.svg");
          height: 30px;
        }
      }
    }

    @media screen and (min-width: 801px) {
      header {
        .title-hold {
          width: 50%;
        }
      }
    }
  }
}

.book-item .cover-image {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}