<footer id="pagefooter">
  <div class="footer-inner">
    <ul>
     
      <li id="nyup-link"><span><a href="http://nyupress.org/" target="_blank">NYU Press</a></span></li>
      <li id="dlts-link"><span>Powered by <a href="http://dlib.nyu.edu/dlts/" target="_blank">NYU DLTS</a></span></li>
    </ul>
  </div>
</footer>
