<!doctype html>
<html>
<head>
  <title>{{appName}}: {{title}}</title>
  {{> head }}
</head>
<body class="home page" data-app="{{appUrl}}" data-discovery="{{discovery}}"
      data-collection-code="{{collectionCode}}"
      data-script='{ "js" : [ "dlts-util.js", "front.js" ], "hbs" : [ { "template" : "items.hbs", "id" : "list-template" } ] }'>
  {{> header }}
  <div class="content-wrapper">
      <div class="data-container" role="main">
        <div class="intro">
        <p>This series explores young people’s day-to-day lives and futures. The volumes consider changes at the intersection of civil and political reform, transformations in employment and education, and the growing presence of digital technologies in all aspects of social, cultural and political life. The John D. and Catherine T. MacArthur Foundation’s Digital Media and Learning (DML) Initiative has supported two research networks that have helped launch this series: the Youth and Participatory Politics Research Network and the Connected Learning Research Network. The DML Initiative and the DML Hub at the University of California, Irvine, also support production and open access for this series. <a href="{{appUrl}}/about" class="readmore">Read more about the project...</a></p>
      </div>
       <div class="show-books">
        <h2 class="page-title">In this series</h2>
        <div class="library-items"></div>
      </div>
    </div>

    <ul class="pure-paginator"></ul>
    <div class="pure-g container more-books">
      <div class="pure-u-1">
        <a href="#" class="pure-button loading">More books</a>
      </div>
    </div>
    
    {{> footer }}
  </div>
  {{{closure}}}
</body>
</html>
