<div class="header">
  <nav class="navbar" role="navigation" id="navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <header role="banner">
          <div class="logos">
            <h2 id="logo-rep-clrn" ><a href="http://clalliance.org/"  target="_blank">Connected Learning Alliance</a></h2>
            <h2 id="logo-rep-nyup"><a href="http://nyupress.org/" target="_blank">NYU Press</a></h2>
            <h2 id="logo-rep-mac"><a href="http://www.macfound.org/" target="_blank" >MacArthur Foundation</a></h2>
          </div>
          <div class="title-hold"><h1 id="site-title"><a href="{{appUrl}}">{{appName}}</a></h1>
            <div class="n-utils" style="display:none">
              <button id="search-toggle" style="display:none">X</button>
              <form role="search" class="pure-form searchform" value="" method="get" action="{{appUrl}}/search" id="navbarsearchform" name="searchform" >
                <input class="searchbox pure-input" name="searchbox" id="searchbox" type="text" placeholder="Search for books..." value="" size="30" maxlength="300">
              </form>
            </div>
          </div>
        </header>
      </div>
    </div>
  </nav>
</div>